
   <h3 class="hello-cycle">Hi, I'm {{preAdj}} <span>{{curAdj}}</span></h3>
    <hr>
    <div class="latest-work">
        <h3>Latest Work</h3>
        <div class="lw-container">
            <div class="lw-row">
                <div class="lw-four">
                 <a ui-sref="project({ projName: 'wantedCreativity'})"> <img src="assets/images/work/wantedCreativity/wantedshavings.jpg" alt=""></a>
                </div>
                
            </div>
            <div class="lw-row">
                <div class="lw-one"><a ui-sref="project({ projName: 'marks'})"><img src="assets/images/work/marks/2_latest.jpg" alt=""></a>
                <a ui-sref="project({ projName: 'marks'})"><img src="assets/images/work/marks/7_latest.jpg" alt=""></a>
                </div>
                <div class="lw-two">
                 <a ui-sref="project({ projName: 'localItalian'})"> <img src="assets/images/work/localItalian/004.jpg" alt=""></a></div>
            </div>
             <div class="btn-holder">
     <a class="view-more" ui-sref="work">View More</a>
 </div>
        </div>
    </div>
    <hr>
   <insta-feed></insta-feed>
